USE [DB_RH]
GO
/****** Object:  Table [dbo].[gps]    Script Date: 30/04/2026 03:19:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gps](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[transporte_id] [bigint] NOT NULL,
	[tipo_vehiculo] [nvarchar](50) NOT NULL,
	[placa] [nvarchar](20) NOT NULL,
	[plataforma] [varchar](500) NULL,
	[destino] [nvarchar](150) NULL,
	[usuario] [nvarchar](100) NULL,
	[contrasena] [nvarchar](150) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transportes]    Script Date: 30/04/2026 03:19:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transportes](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[gps] ON 

INSERT [dbo].[gps] ([id], [transporte_id], [tipo_vehiculo], [placa], [plataforma], [destino], [usuario], [contrasena], [created_at], [updated_at], [estado]) VALUES (10006, 10002, N'Cabezal', N'JAX2805', N'https://us.tracksolidpro.com/resource/dev/index.html#/login', N'ACOPIO', N'Edwjo', N'edjo2021', NULL, CAST(N'2026-02-13T21:47:06.950' AS DateTime), 1)
INSERT [dbo].[gps] ([id], [transporte_id], [tipo_vehiculo], [placa], [plataforma], [destino], [usuario], [contrasena], [created_at], [updated_at], [estado]) VALUES (10007, 10002, N'POR DETERMINAR', N'TCH0200', N'Pendiente', N'ACOPIO', N'Pendiente', N'Pendiente', NULL, NULL, 1)
INSERT [dbo].[gps] ([id], [transporte_id], [tipo_vehiculo], [placa], [plataforma], [destino], [usuario], [contrasena], [created_at], [updated_at], [estado]) VALUES (10008, 10003, N'POR DETERMINAR', N'TCJ0173', N'https://us.tracksolidpro.com/resource/dev/index.html#/login', N'ACOPIO', N'INCRUZ', N'Agost023', NULL, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[gps] OFF
GO
SET IDENTITY_INSERT [dbo].[transportes] ON 

INSERT [dbo].[transportes] ([id], [nombre], [created_at], [updated_at]) VALUES (10002, N'BALBINO MEZA', NULL, NULL)
INSERT [dbo].[transportes] ([id], [nombre], [created_at], [updated_at]) VALUES (10003, N'BRYAN JOSE CRUZ CRUZ', NULL, NULL)
INSERT [dbo].[transportes] ([id], [nombre], [created_at], [updated_at]) VALUES (10004, N'COMERCIALIZADORA CUCUYAGUA', NULL, NULL)
SET IDENTITY_INSERT [dbo].[transportes] OFF
GO
ALTER TABLE [dbo].[gps] ADD  DEFAULT ('1') FOR [estado]
GO
ALTER TABLE [dbo].[gps]  WITH CHECK ADD  CONSTRAINT [gps_transporte_id_foreign] FOREIGN KEY([transporte_id])
REFERENCES [dbo].[transportes] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[gps] CHECK CONSTRAINT [gps_transporte_id_foreign]
GO
