USE [master]
GO
/****** Object:  Database [ElectronicasDB]    Script Date: 22/04/2026 10:24:52 a. m. ******/
CREATE DATABASE [ElectronicasDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ElectronicasDB', FILENAME = N'C:\Users\DELL\ElectronicasDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ElectronicasDB_log', FILENAME = N'C:\Users\DELL\ElectronicasDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ElectronicasDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ElectronicasDB]
GO
/****** Object:  Schema [electronicas]    Script Date: 22/04/2026 10:24:52 a. m. ******/
CREATE SCHEMA [electronicas]
GO
/****** Object:  Table [electronicas].[EstadoMaquina]    Script Date: 22/04/2026 10:24:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [electronicas].[EstadoMaquina](
	[id_estado] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [electronicas].[EstadoRepuestos]    Script Date: 22/04/2026 10:24:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [electronicas].[EstadoRepuestos](
	[id_estado] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [electronicas].[MantenimientoRepuestos]    Script Date: 22/04/2026 10:24:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [electronicas].[MantenimientoRepuestos](
	[id_mantenimiento_repuesto] [int] IDENTITY(1,1) NOT NULL,
	[id_mantenimiento] [int] NOT NULL,
	[id_repuesto] [int] NOT NULL,
	[id_detalle_repuesto] [int] NULL,
	[cantidad] [int] NOT NULL,
	[costo_unitario] [decimal](12, 2) NOT NULL,
	[observaciones] [varchar](255) NULL,
	[fecha_registro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_mantenimiento_repuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [electronicas].[Mantenimientos]    Script Date: 22/04/2026 10:24:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [electronicas].[Mantenimientos](
	[id_mantenimiento] [int] IDENTITY(1,1) NOT NULL,
	[id_maquina] [int] NOT NULL,
	[id_tipo] [int] NOT NULL,
	[id_tecnico] [int] NULL,
	[fecha_mantenimiento] [date] NOT NULL,
	[proximo_mantenimiento] [date] NULL,
	[descripcion] [varchar](max) NULL,
	[fecha_registro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_mantenimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [electronicas].[Maquinas]    Script Date: 22/04/2026 10:24:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [electronicas].[Maquinas](
	[id_maquina] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[id_modelo] [int] NOT NULL,
	[serie] [varchar](100) NULL,
	[comentarios] [varchar](max) NULL,
	[id_estado] [int] NOT NULL,
	[fecha_registro] [datetime] NULL,
	[costo] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_maquina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[serie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [electronicas].[Marcas]    Script Date: 22/04/2026 10:24:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [electronicas].[Marcas](
	[id_marca] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [electronicas].[Modelos]    Script Date: 22/04/2026 10:24:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [electronicas].[Modelos](
	[id_modelo] [int] IDENTITY(1,1) NOT NULL,
	[id_marca] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[id_tipo_modelo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_modelo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Modelo] UNIQUE NONCLUSTERED 
(
	[id_marca] ASC,
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [electronicas].[MovimientosRepuestos]    Script Date: 22/04/2026 10:24:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [electronicas].[MovimientosRepuestos](
	[id_movimiento] [int] IDENTITY(1,1) NOT NULL,
	[id_repuesto] [int] NOT NULL,
	[id_detalle_repuesto] [int] NULL,
	[id_tipo_movimiento] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[costo_unitario] [decimal](12, 2) NOT NULL,
	[stock_anterior] [int] NOT NULL,
	[stock_nuevo] [int] NOT NULL,
	[id_maquina] [int] NULL,
	[referencia] [varchar](100) NULL,
	[observaciones] [varchar](255) NULL,
	[fecha_movimiento] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_movimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [electronicas].[Proveedores]    Script Date: 22/04/2026 10:24:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [electronicas].[Proveedores](
	[id_proveedor] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[telefono] [varchar](30) NULL,
	[correo] [varchar](100) NULL,
	[direccion] [varchar](255) NULL,
	[estado] [bit] NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [electronicas].[Repuestos]    Script Date: 22/04/2026 10:24:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [electronicas].[Repuestos](
	[id_repuesto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[numero_parte] [varchar](100) NULL,
	[comentarios] [varchar](max) NULL,
	[fecha_registro] [datetime] NULL,
	[id_proveedor] [int] NOT NULL,
	[estado] [int] NULL,
	[costo] [decimal](10, 2) NULL,
	[id_estado] [int] NOT NULL,
	[costo_promedio] [decimal](12, 2) NOT NULL,
	[maneja_serie] [bit] NOT NULL,
	[stock] [int] NOT NULL,
	[stock_minimo] [int] NOT NULL,
	[id_tipo] [int] NULL,
	[id_marca] [int] NULL,
	[id_modelo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_repuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [electronicas].[RepuestosDetalle]    Script Date: 22/04/2026 10:24:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [electronicas].[RepuestosDetalle](
	[id_detalle_repuesto] [int] IDENTITY(1,1) NOT NULL,
	[id_repuesto] [int] NOT NULL,
	[serie] [varchar](100) NOT NULL,
	[id_estado_repuesto] [int] NOT NULL,
	[id_maquina_actual] [int] NULL,
	[costo_unitario] [decimal](12, 2) NOT NULL,
	[fecha_ingreso] [datetime] NOT NULL,
	[comentarios] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle_repuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_RepuestosDetalle_Serie] UNIQUE NONCLUSTERED 
(
	[serie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [electronicas].[Tecnicos]    Script Date: 22/04/2026 10:24:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [electronicas].[Tecnicos](
	[id_tecnico] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[telefono] [varchar](20) NULL,
	[correo] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tecnico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [electronicas].[TipoMantenimiento]    Script Date: 22/04/2026 10:24:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [electronicas].[TipoMantenimiento](
	[id_tipo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [electronicas].[TiposModelo]    Script Date: 22/04/2026 10:24:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [electronicas].[TiposModelo](
	[id_tipo_modelo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_modelo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [electronicas].[TiposMovimientoRepuesto]    Script Date: 22/04/2026 10:24:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [electronicas].[TiposMovimientoRepuesto](
	[id_tipo_movimiento] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[afecta_stock] [bit] NOT NULL,
	[signo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_movimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [electronicas].[TiposRepuesto]    Script Date: 22/04/2026 10:24:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [electronicas].[TiposRepuesto](
	[id_tipo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [electronicas].[MantenimientoRepuestos] ADD  DEFAULT ((1)) FOR [cantidad]
GO
ALTER TABLE [electronicas].[MantenimientoRepuestos] ADD  DEFAULT ((0)) FOR [costo_unitario]
GO
ALTER TABLE [electronicas].[MantenimientoRepuestos] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [electronicas].[Mantenimientos] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [electronicas].[Maquinas] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [electronicas].[Maquinas] ADD  CONSTRAINT [DF_Maquinas_Costo]  DEFAULT ((0)) FOR [costo]
GO
ALTER TABLE [electronicas].[MovimientosRepuestos] ADD  DEFAULT ((1)) FOR [cantidad]
GO
ALTER TABLE [electronicas].[MovimientosRepuestos] ADD  DEFAULT ((0)) FOR [costo_unitario]
GO
ALTER TABLE [electronicas].[MovimientosRepuestos] ADD  DEFAULT ((0)) FOR [stock_anterior]
GO
ALTER TABLE [electronicas].[MovimientosRepuestos] ADD  DEFAULT ((0)) FOR [stock_nuevo]
GO
ALTER TABLE [electronicas].[MovimientosRepuestos] ADD  DEFAULT (getdate()) FOR [fecha_movimiento]
GO
ALTER TABLE [electronicas].[Proveedores] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [electronicas].[Proveedores] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [electronicas].[Repuestos] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [electronicas].[Repuestos] ADD  CONSTRAINT [DF_Repuestos_estado]  DEFAULT ((0)) FOR [estado]
GO
ALTER TABLE [electronicas].[Repuestos] ADD  CONSTRAINT [DF_Repuestos_Costo]  DEFAULT ((0)) FOR [costo]
GO
ALTER TABLE [electronicas].[Repuestos] ADD  DEFAULT ((1)) FOR [id_estado]
GO
ALTER TABLE [electronicas].[Repuestos] ADD  DEFAULT ((0)) FOR [costo_promedio]
GO
ALTER TABLE [electronicas].[Repuestos] ADD  DEFAULT ((0)) FOR [maneja_serie]
GO
ALTER TABLE [electronicas].[Repuestos] ADD  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [electronicas].[Repuestos] ADD  DEFAULT ((0)) FOR [stock_minimo]
GO
ALTER TABLE [electronicas].[RepuestosDetalle] ADD  DEFAULT ((0)) FOR [costo_unitario]
GO
ALTER TABLE [electronicas].[RepuestosDetalle] ADD  DEFAULT (getdate()) FOR [fecha_ingreso]
GO
ALTER TABLE [electronicas].[MantenimientoRepuestos]  WITH CHECK ADD  CONSTRAINT [FK_MantenimientoRepuestos_Repuestos] FOREIGN KEY([id_repuesto])
REFERENCES [electronicas].[Repuestos] ([id_repuesto])
GO
ALTER TABLE [electronicas].[MantenimientoRepuestos] CHECK CONSTRAINT [FK_MantenimientoRepuestos_Repuestos]
GO
ALTER TABLE [electronicas].[Mantenimientos]  WITH CHECK ADD  CONSTRAINT [FK_Mantenimiento_Maquina] FOREIGN KEY([id_maquina])
REFERENCES [electronicas].[Maquinas] ([id_maquina])
GO
ALTER TABLE [electronicas].[Mantenimientos] CHECK CONSTRAINT [FK_Mantenimiento_Maquina]
GO
ALTER TABLE [electronicas].[Mantenimientos]  WITH CHECK ADD  CONSTRAINT [FK_Mantenimiento_Tecnico] FOREIGN KEY([id_tecnico])
REFERENCES [electronicas].[Tecnicos] ([id_tecnico])
GO
ALTER TABLE [electronicas].[Mantenimientos] CHECK CONSTRAINT [FK_Mantenimiento_Tecnico]
GO
ALTER TABLE [electronicas].[Mantenimientos]  WITH CHECK ADD  CONSTRAINT [FK_Mantenimiento_Tipo] FOREIGN KEY([id_tipo])
REFERENCES [electronicas].[TipoMantenimiento] ([id_tipo])
GO
ALTER TABLE [electronicas].[Mantenimientos] CHECK CONSTRAINT [FK_Mantenimiento_Tipo]
GO
ALTER TABLE [electronicas].[Maquinas]  WITH CHECK ADD  CONSTRAINT [FK_Maquina_Estado] FOREIGN KEY([id_estado])
REFERENCES [electronicas].[EstadoMaquina] ([id_estado])
GO
ALTER TABLE [electronicas].[Maquinas] CHECK CONSTRAINT [FK_Maquina_Estado]
GO
ALTER TABLE [electronicas].[Maquinas]  WITH CHECK ADD  CONSTRAINT [FK_Maquina_Modelo] FOREIGN KEY([id_modelo])
REFERENCES [electronicas].[Modelos] ([id_modelo])
GO
ALTER TABLE [electronicas].[Maquinas] CHECK CONSTRAINT [FK_Maquina_Modelo]
GO
ALTER TABLE [electronicas].[Modelos]  WITH CHECK ADD  CONSTRAINT [FK_Modelo_Marca] FOREIGN KEY([id_marca])
REFERENCES [electronicas].[Marcas] ([id_marca])
GO
ALTER TABLE [electronicas].[Modelos] CHECK CONSTRAINT [FK_Modelo_Marca]
GO
ALTER TABLE [electronicas].[Modelos]  WITH CHECK ADD  CONSTRAINT [FK_Modelos_TiposModelo] FOREIGN KEY([id_tipo_modelo])
REFERENCES [electronicas].[TiposModelo] ([id_tipo_modelo])
GO
ALTER TABLE [electronicas].[Modelos] CHECK CONSTRAINT [FK_Modelos_TiposModelo]
GO
ALTER TABLE [electronicas].[MovimientosRepuestos]  WITH CHECK ADD  CONSTRAINT [FK_Movimientos_Detalle] FOREIGN KEY([id_detalle_repuesto])
REFERENCES [electronicas].[RepuestosDetalle] ([id_detalle_repuesto])
GO
ALTER TABLE [electronicas].[MovimientosRepuestos] CHECK CONSTRAINT [FK_Movimientos_Detalle]
GO
ALTER TABLE [electronicas].[MovimientosRepuestos]  WITH CHECK ADD  CONSTRAINT [FK_Movimientos_Repuestos] FOREIGN KEY([id_repuesto])
REFERENCES [electronicas].[Repuestos] ([id_repuesto])
GO
ALTER TABLE [electronicas].[MovimientosRepuestos] CHECK CONSTRAINT [FK_Movimientos_Repuestos]
GO
ALTER TABLE [electronicas].[MovimientosRepuestos]  WITH CHECK ADD  CONSTRAINT [FK_Movimientos_Tipo] FOREIGN KEY([id_tipo_movimiento])
REFERENCES [electronicas].[TiposMovimientoRepuesto] ([id_tipo_movimiento])
GO
ALTER TABLE [electronicas].[MovimientosRepuestos] CHECK CONSTRAINT [FK_Movimientos_Tipo]
GO
ALTER TABLE [electronicas].[Repuestos]  WITH CHECK ADD FOREIGN KEY([id_marca])
REFERENCES [electronicas].[Marcas] ([id_marca])
GO
ALTER TABLE [electronicas].[Repuestos]  WITH CHECK ADD FOREIGN KEY([id_modelo])
REFERENCES [electronicas].[Modelos] ([id_modelo])
GO
ALTER TABLE [electronicas].[Repuestos]  WITH CHECK ADD FOREIGN KEY([id_tipo])
REFERENCES [electronicas].[TiposRepuesto] ([id_tipo])
GO
ALTER TABLE [electronicas].[Repuestos]  WITH CHECK ADD  CONSTRAINT [FK_Repuesto_Estado] FOREIGN KEY([id_estado])
REFERENCES [electronicas].[EstadoRepuestos] ([id_estado])
GO
ALTER TABLE [electronicas].[Repuestos] CHECK CONSTRAINT [FK_Repuesto_Estado]
GO
ALTER TABLE [electronicas].[RepuestosDetalle]  WITH CHECK ADD  CONSTRAINT [FK_RepuestosDetalle_Estados] FOREIGN KEY([id_estado_repuesto])
REFERENCES [electronicas].[EstadoRepuestos] ([id_estado])
GO
ALTER TABLE [electronicas].[RepuestosDetalle] CHECK CONSTRAINT [FK_RepuestosDetalle_Estados]
GO
ALTER TABLE [electronicas].[RepuestosDetalle]  WITH CHECK ADD  CONSTRAINT [FK_RepuestosDetalle_Repuestos] FOREIGN KEY([id_repuesto])
REFERENCES [electronicas].[Repuestos] ([id_repuesto])
GO
ALTER TABLE [electronicas].[RepuestosDetalle] CHECK CONSTRAINT [FK_RepuestosDetalle_Repuestos]
GO
USE [master]
GO
